package pages

import "github.com/mikestefanello/pagoda/pkg/helpers"

templ Search(searchResults []helpers.SearchResult) {
	for _, result := range searchResults {
		<a class="panel-block" href={ templ.URL(result.URL) }>{ result.Title }</a>
	}
}
