package pages

import (
	"fmt"
	"github.com/mikestefanello/pagoda/pkg/page"
)

templ Error(p *page.Page) {
	if p.StatusCode > 500 {
		<p>Please try again.</p>
	} else if p.StatusCode == 403 || p.StatusCode == 401 {
		<p>You are not authorized to view the requested page.</p>
	} else if p.StatusCode == 404 {
		<p>Click <a href={ templ.URL(fmt.Sprintf("%s/%s", templ.URL("home"), p.Path)) }>here</a> to return home</p>
	} else {
		<p>Something went wrong</p>
	}
}
